<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>电影详情</title>
<script src="https://cdn.bootcss.com/popper.js/1.13.0/esm/popper.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script
	src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<link
	href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
	rel="stylesheet">
<script
	src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<link
	href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css"
	rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>
<body>
<h1>电影详情展示</h1>
	<table data-toggle="table" data-pagination="true" data-search="true"
		data-search-on-enter-key="true" data-striped="true">
		<thead>
			<tr>
				<th>编号</th>
				<th>电影ID</th>
				<th>电影名</th>
				<th>导演</th>
				<th>主演</th>
				<th>地区</th>
				<th>时长</th>
				<th>上映日期</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{detail[0]}}</td>
				<td>{{detail[1]}}</td>
				<td>{{detail[2]}}</td>
				<td>{{detail[3]}}</td>
				<td>{{detail[4]}}</td>
				<td>{{detail[5]}}</td>
				<td>{{detail[6]}}</td>
				<td>{{detail[7]}}</td>
			</tr>
		</tbody>
	</table>
	<div class="jumbotron">
		<div class="container">
			<script type="text/javascript">
				var url = "../static/example"+{{detail[1]}}+".png";
				document.write('<img src="'+url+'" />');
			</script>
		</div>
	</div>
</body>
</html>