<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>我糯米，我电影</title>
<script src="https://cdn.bootcss.com/popper.js/1.13.0/esm/popper.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
<link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.js"></script>
<link href="https://cdn.bootcss.com/bootstrap-table/1.11.1/bootstrap-table.min.css" rel="stylesheet">
<script src="https://cdn.bootcss.com/bootstrap-table/1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
</head>

<body>
<h1>2017百度糯米年度票房信息</h1>
	<table data-toggle="table" data-pagination="true" data-search="true" data-search-on-enter-key="true" data-striped="true">
		<thead>
			<tr>
				<th>编号</th>
				<th>日期</th>
				<th>电影ID</th>
				<th>电影名</th>
				<th>当日票房</th>
				<th>票房占比</th>
				<th>排片占比</th>
				<th>上座率</th>
				<th>排座占比</th>
				<th>场次</th>
				<th>人次</th>
				<th>场均人次</th>
				<th>场均收入</th>
				<th>平均售价</th>
			</tr>
		</thead>
		<tbody>
		 {% for data in datas %}
			<tr>
				<td>{{data[0]}}</td>
				<td>{{data[1]}}</td>
				<td>{{data[2]}}</td>
				<td><a href="./detail?movieid={{data[2]}}">{{data[3]}}</a></td>
				<td>{{data[4]}}</td>
				<td>{{data[5]}}</td>
				<td>{{data[6]}}</td>
				<td>{{data[7]}}</td>
				<td>{{data[8]}}</td>
				<td>{{data[9]}}</td>
				<td>{{data[10]}}</td>
				<td>{{data[11]}}</td>
				<td>{{data[12]}}</td>
				<td>{{data[13]}}</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
</body>
</html>